Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.cquery
.cquery_cached_index
*.el
CMakeLists.txt
*.kdev4
*.pri
/build
Makefile
*.pro
*.workspace
